<template lang="pug">
  input(
      type='search'
      class='input'
      :disabled='disabled'
      :value='value'
      v-on="listeners"
  )
</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: '',
            },
            disabled: false,
        },
        computed: {
            listeners () {
                return {
                    // Pass all component listeners directly to input
                    ...this.$listeners,
                    // Override input listener to work with v-model
                    input: event => this.$emit('input', event.target.value),
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
  @import '../variables.scss';

  input{
      font-size: 1em;
      color: #e1e2eb;
      background: #28858f;
  }

</style>
