<template lang="pug">
    button(
    :disabled="disabled"
    v-on="listeners"
    )
        i(v-html="name")
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                default: 'поиск',
            },
            disabled: false,
        },
        computed: {
            listeners () {
                return {
                    // Pass all component listeners directly to element
                    ...this.$listeners
                }
            }
        },
    }
</script>

<style lang="scss" scoped>
    @import '../variables.scss';

    button{
        color: $orange;
        outline: none;
    }
</style>
