<template lang="pug">
  div.case_profile
    div.foto
      img(v-bind:src='userData.photo_200')
    div.user-data
      div.row
        div.name Фамилия:
        div.data {{ userData.last_name }}
      div.row
        div.name Имя:
        div.data {{ userData.first_name }}
      div.row
        div.name Пол:
        div.data
            i(v-html="userData.sex")
      div.row
        div.name Дата рождения:
        div.data {{ userData.bdate }}
      div.row
        div.name Город:
        div.data {{ userData.city }}
      div.row
        div.name Страна:
        div.data {{ userData.country  }}
</template>

<script>

    import * as U from '../utils/request.js';

    export default {
        data(){
            return{
                userData: {}
            }
        },
        beforeMount(){
            this.toShowUser( this.$route.params.id )
        },
        methods:{
            toShowUser (idUser) {
                function makeUserPage( data ) {
                    // console.log(data)
                    this.userData = data
                    this.userData.sex = (data.sex === 1) ? '&#xf182;' : '&#xf183;'
                    let item, empty = 'не указано';
                    for (let i in this.userData){
                        if (this.userData.hasOwnProperty(i)) {
                            item = this.userData[i]
                            // console.log(item)
                            if (!item) {
                                this.userData[i] = empty
                            }
                            if (typeof item === 'object') {
                                if (item.title) {
                                    this.userData[i] = item.title
                                }
                            }
                            if (this.userData.home_town) {
                                this.userData.city = this.userData.home_town
                            }
                            if (!this.userData.home_town && !this.userData.city) {
                                this.userData.city = empty
                            }
                            if (!this.userData.country) {
                                this.userData.country = empty
                            }
                            if (!this.userData.bdate) {
                                this.userData.bdate = empty
                            }
                        }
                    }

                }
                if (idUser) {
                    function* showUser() {
                        let result = yield U.getData(idUser, 'users.get')
                        let resp = yield result.json();
                        makeUserPage.call( this, resp.response[0] )
                    }
                    U.Run(showUser.call( this ))
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
  @import '../variables.scss';

  .case_profile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-data{
    display: table;
    /*outline: 1px solid cornflowerblue;*/
  }
  .row{
    display: table-row;
  }
  .foto{
    float: left;
    min-width: 200px;
  }
  .name{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-left: 10px;
    width: 130px;
    color: $yellow;
    font-family: $name-font
    /*outline: 1px solid crimson;*/
  }
  .data{
    display: table-cell;
    vertical-align: middle;
    padding: 2px 10px;
    /*outline: 1px solid blue;*/
    font-family: Verdana, Arial, sans-serif;
  }
</style>
