<template lang="pug">
	div
		div.case-data(v-if="users.length")
			UserListItem(
				v-for="user in users"
				:key="user.id"
				:user="user"
				@toShowUser="$emit('toShowUser', user.id)"
			)
		infinite-loading(
			@infinite="infiniteHandler"
			v-if="isTriggerFirstLoad"
			ref="infiniteLoading"
		)
			span.info(slot="no-results" ) Ничего не найдено :(
			span.info(slot="no-more") Больше ничего нет :(
		div.err(v-if="err.code") {{ err.msg }}
</template>

<script>

    import * as U from '../utils/request.js';
    import UserListItem from './UserListItem.vue'
    import InfiniteLoading from 'vue-infinite-loading';

    let toSortUsers = function(arr){ // вообщем-то лишняя фича, тк будет отсортирована только запрошенное кол-во, а не
        // вся страница
        arr.sort((a, b)=>{
            if (a.first_name > b.first_name) {
                return 1;
            }
            if (a.first_name < b.first_name) {
                return -1;
            }
            return 0;
        });
    }

    export default {
        props: ['q'], // строка запроса
        components: {
            UserListItem, InfiniteLoading
        },
        data () {
            return {
                users: [],
                offset: 0, // начало позиции выборки в запросе
                err: {
                    code: 0,
                    msg: ''
                },
                count: 10, // кол-во пользователей для вывода на странице
                distance: -Infinity,
                scrollPosition: 0,
                isTriggerFirstLoad: false,
            }
        },
        watch:{
            q: function () {
                this.isLoading( true )
                // console.log('run2')
                this.getUsers()
            }
        },
        methods: {
            infiniteHandler($state) {
                // console.log($state)
                function* showUsers() {
                    try{
                        let result = yield U.getData(this.q, 'users.search', this.count, this.offset)
                        let resp = yield result.json();
                        if (resp.error){
                            throw resp.error
                        }
                        let data = resp.response.items
                        this.offset += this.count
                        toSortUsers.call( this, data )
                        if (data.length) {
                            this.users = this.users.concat(data);
                            /**
                             * задержка необходима чтобы ДОМ успел построиться до того как
                             * infiniteLoader перейдет в состояние loaded; если паузы нет, то
                             * будут два запроса и, соответственно, на странице будет удвоенное
                             * кол-во контента*/
                            setTimeout(()=>{
                                $state.loaded()
                                this.isLoading( false )
                            }, 1000)
                        } else {
                            $state.complete();
                            this.isLoading( false )
                        }
                    } catch (e){
                        console.log(e)
                        this.isLoading( false )
                        $state.complete();
                        this.err.code = e.error_code
                        this.err.msg = e.error_msg + ' проверьте и/или повторите запрос'
                    }
                }
                U.Run(showUsers.call( this ))
            },
            isLoading(val){
                this.$emit('isLoading', val)
            },
            getUsers () {
                const trimmedText = this.q.trim()
                // console.log('getUsers ' + trimmedText)
                if (trimmedText) {
                    this.distance = 0;
                    this.offset = 0
                    this.users = []
                    this.isTriggerFirstLoad = true
                    this.$nextTick(() => {
                        // console.log(trimmedText)
                        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
                        this.$refs.infiniteLoading.attemptLoad();
                    });
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
	.case-data{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/*outline: 1px solid cornflowerblue;*/
	}
</style>