@charset "utf-8";
//lang="scss"
/* CSS Document */
@import '../variables.scss';
body{
    background: $vue-blue;
    min-height: 98vh;
    display: flex;
    //outline: 1px solid cornflowerblue;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div{
    box-sizing: border-box;
}

i{
    font-family: $icon-font;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.content {
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    line-height: 1.4;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: beige;
    //outline: 1px solid turquoise;
}

h1 {
    text-align: center;
}

a{
    color: #afafaf;
}
.input {
    padding: 8px 10px;
    color: $orange;
    border: 1px solid #d3d3d3;
    outline: 0;
}

input::placeholder{
    color: #a4bbc6;
    font-weight: 100;
    font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button{
    padding: 5px 20px;
    cursor: pointer;
    min-width: 100px;
    display: inline-block;
    position: relative;
}

.btn{
    background: $bgr-button;
    border: 1px solid #d3d3d3;
    color: $orange;
    font-family: $btn-font;
    border-radius: 0;
    font-size: 1em;
    padding: 7px 30px;
}

button.btn.focus{
    border: 1px dashed #808080;
}

button.btn:hover {
    background: $bgr-button-hover
}

button i:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    margin: 0;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
    top: -7px;
    left: -8px;
    padding: 22px 55px;
    border: 2px dotted lightblue;
    z-index: 10;
}

button:hover i:after{
    transform: scale(1);
    opacity: 1;
}

