<template>
	<Controller></Controller>
</template>

<script>
    export default {
        components: {
            Controller: ()=>import ('./components/Controller.vue')
        }
    }
</script>

<style lang="scss">
	@import './variables.scss';

	#app {
		width: 600px;
		margin: 0 auto;
		line-height: 1.4;
		font-family: $prime-font;
		color: $beige;
		/*outline: 1px solid cornflowerblue;*/
	}

</style>